* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  box-sizing: inherit;
}
:root {
  /* primary colors */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);

  /* Dark Theme */
  --ToggleDark: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );

  /* Typography */
  --fontSize: 14px;
  --fw-regualar: 400;
  --fw-bold: 700;

  /* custom properties */
  --margin: 1.5em;
  --padding: 1.5em;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  --radius: 5px;
  --circle: 50%;
  --letter-spacing: 4px;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  color: var(--generic-clr);
}
body {
  /* Light Theme */
  --bkg: hsl(0, 0%, 100%);
  --Toggle: hsl(230, 22%, 74%);
  --TopBg-Pattern: hsl(225, 100%, 98%);
  --CardBg: hsl(227, 47%, 96%);
  --Text: hsl(228, 12%, 44%);
  --generic-clr: hsl(230, 17%, 14%);
  --hover: #ddd;
  --opacity: 0.9;
  --transition-delay: 0.5s;

  position: relative;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--bkg);
  transition: var(--transition-delay);
}
body.dark {
  --bkg: hsl(230, 17%, 14%);
  --Toggle: hsl(230, 22%, 74%);
  --TopBg-Pattern: hsl(232, 19%, 15%);
  --CardBg: hsl(228, 28%, 20%);
  --Text: hsl(228, 34%, 66%);
  --generic-clr: hsl(0, 0%, 100%);
  --hover: hsl(228, 27%, 33%);
  --opacity: 0.9;
}
body::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 45vh;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--TopBg-Pattern);
  z-index: -1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
header {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
.title {
  padding: 50px 0 30px;
  position: relative;
}
.title h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
.title p,
.theme p {
  font-size: 17px;
  color: var(--Text);
  font-weight: var(--fw-bold);
}
.title::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--Toggle);
  bottom: 0;
}
.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 50px;
}
.theme-switch {
  display: inline-block;
  position: relative;
  width: 63px;
  height: 30px;
  border: 0;
  border-radius: 34px;
  background: none;
}
.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Toggle);
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}
.toggle::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--bkg);
  top: 4px;
  right: 4px;
  bottom: 4px;
  transition: var(--transition-delay);
}
.checkbox:checked + .toggle {
  background: var(--ToggleDark);
}
.checkbox:focus + .toggle {
  background-image: var(--ToggleDark);
}
.checkbox:checked + .toggle::before {
  transform: translateX(-32px);
  background: hsl(230, 17%, 14%);
}

.section-center {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
.card {
  background-color: var(--CardBg);
  padding: var(--padding);
  margin-bottom: var(--margin);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.social-card {
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}
.ov-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--transition-delay);
  z-index: -1;
}
.fb::after {
  background-color: var(--hover);
  transform-origin: top;
  transform: scaleY(0);
}
.tw::after {
  background-color: var(--hover);
  transform-origin: right;
  transform: scaleX(0);
}
.ig::after {
  background-color: var(--hover);
  transform-origin: right;
  transform: scaleY(0);
}
.yt::after {
  background-color: var(--hover);
  transform-origin: left;
  transform: scaleX(0);
}
.fb:hover::after {
  transform: scaleY(1);
  transform-origin: left;
}
.tw:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}
.ig:hover::after {
  transform: scaleY(1);
  transform-origin: bottom;
}
.yt:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}
.social-card:last-child {
  margin-bottom: 0;
}
.fb {
  border-top: 4px solid var(--Facebook);
}
.twitter {
  border-top: 4px solid var(--Twitter);
}
.ig {
  border-top: 4px solid transparent;
  border-image: var(--Instagram);
  border-image-slice: 1;
  border-radius: var(--radius);
}
.youtube {
  border-top: 4px solid var(--YouTube);
}
.fllwrs-gain span {
  color: var(--Lime-Green);
}
.youtube .fllwrs-gain span {
  color: var(--YouTube);
}
.user,
.fllwrs-count {
  margin-bottom: var(--margin);
}
.user span,
.fllwrs-count p {
  color: var(--Text);
}
.user,
.fllwrs-gain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user img,
.fllwrs-gain img {
  margin-right: 8px;
}
.user span,
.fllwrs-gain span {
  font-size: 15px;
  font-weight: var(--fw-bold);
}
.fllwrs-count h2 {
  font-size: 55px;
}
.fllwrs-count p {
  font-size: var(--fontSize);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
.overview {
  padding: 50px 0 0;
}
.overview h3:not(.views h3) {
  color: var(--Text);
  padding-bottom: 30px;
}
.ov-card.fb,
.ov-card.ig {
  border-top: 0;
}
.ov-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ov-rate {
  text-align: right;
}
.rate span {
  font-size: 14px;
  font-weight: var(--fw-bold);
  color: var(--Lime-Green);
}
.views p {
  margin-bottom: var(--margin);
  font-size: 15px;
  font-weight: var(--fw-bold);
  color: var(--Text);
  letter-spacing: 1px;
}
.views h3 {
  font-size: 26px;
}
.rate {
  display: flex;
  align-items: center;
  margin-top: var(--margin);
}
.rate img {
  margin-right: 5px;
}
.yt .rate span,
.fb-2 .rate span {
  color: var(--YouTube);
}
footer {
  text-align: center;
  padding: 0 0 var(--padding) 0;
}
.attribution {
  font-size: var(--fontSize);
  color: var(--generic-clr);
}
.attribution a {
  color: var(--Lime-Green);
  text-decoration: none;
}
@media screen and (min-width: 550px) {
  .sc-wrapper,
  .ov-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.2em;
  }
  .ov-wrapper {
    margin-bottom: 50px;
  }
  .social-card,
  .ov-card {
    margin-bottom: 0;
  }
  .sc-wrapper .fb {
    grid-column: 1 / 7;
  }
  .sc-wrapper .twitter {
    grid-column: 7 / 13;
  }
  .sc-wrapper .ig {
    grid-column: 1 / 7;
  }
  .sc-wrapper .youtube {
    grid-column: 7 / 13;
  }
  .ov-wrapper .fb-1 {
    grid-column: 1 / 7;
  }
  .ov-wrapper .fb-2 {
    grid-column: 7 / 13;
  }
  .ov-wrapper .ig-1 {
    grid-column: 1 / 7;
  }
  .ov-wrapper .ig-2 {
    grid-column: 7 / 13;
  }
  .ov-wrapper .tw-1 {
    grid-column: 1 / 7;
  }
  .ov-wrapper .tw-2 {
    grid-column: 7 / 13;
  }
  .ov-wrapper .yt-1 {
    grid-column: 1 / 7;
  }
  .ov-wrapper .yt-2 {
    grid-column: 7 / 13;
  }
}

@media screen and (min-width: 1200px) {
  body::after {
    height: 35vh;
  }
  .section-center,
  header {
    width: 85%;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin);
  }
  .title::after {
    display: none;
  }
  .theme {
    padding: 0;
  }
  .theme p {
    margin-right: 20px;
  }
  .sc-wrapper .fb {
    grid-column: 1 / 4;
  }
  .sc-wrapper .twitter {
    grid-column: 4 / 7;
  }
  .sc-wrapper .ig {
    grid-column: 7 / 10;
  }
  .sc-wrapper .youtube {
    grid-column: 10 / 13;
  }
  .ov-wrapper .fb-1 {
    grid-column: 1 / 4;
  }
  .ov-wrapper .fb-2 {
    grid-column: 4 / 7;
  }
  .ov-wrapper .ig-1 {
    grid-column: 7 / 10;
  }
  .ov-wrapper .ig-2 {
    grid-column: 10 / 13;
  }
  .ov-wrapper .tw-1 {
    grid-column: 1 / 4;
  }
  .ov-wrapper .tw-2 {
    grid-column: 4 / 7;
  }
  .ov-wrapper .yt-1 {
    grid-column: 7 / 10;
  }
  .ov-wrapper .yt-2 {
    grid-column: 10 / 13;
  }
}
